about-time==4.2.1
alive-progress==3.1.5
android-backup==0.2.0
appdirs==1.4.4
async-timeout==4.0.2
attrs==22.2.0
beautifulsoup4==4.12.2
bidict==0.22.1
blinker==1.6.3
bs4==0.0.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
cloudscraper==1.2.71
construct==2.10.68
croniter==1.3.8
cryptography==38.0.4
DateTime==5.2
defusedxml==0.7.1
dnspython==2.4.2
doubaninfo==0.0.13
et-xmlfile==1.1.0
eventlet==0.33.3
Flask==3.0.0
Flask-SocketIO==5.3.6
flatbencode==0.2.1
grapheme==0.6.0
greenlet==3.0.0
h11==0.14.0
idna==3.4
ifaddr==0.2.0
itsdangerous==2.1.2
Jinja2==3.1.2
loguru==0.7.2
lxml==4.9.3
MarkupSafe==2.1.3
netifaces==0.11.0
numpy==1.26.1
packaging==23.2
pathlib==1.0.1
pycparser==2.21
pycryptodome==3.16.0
pyparsing==3.1.1
pyperclip==1.8.2
python-dateutil==2.8.2
python-engineio==4.8.0
python-miio==0.5.12
python-socketio==5.10.0
pytz==2022.7
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
qbittorrent-api==2023.9.53
requests==2.28.1
requests-toolbelt==1.0.0
simple-websocket==1.0.0
six==1.16.0
soupsieve==2.5
torf==4.2.2
tqdm==4.66.1
typing==3.7.4.3
tzdata==2022.7
tzlocal==4.2
urllib3==1.26.13
Werkzeug==3.0.0
workbook==1.1
wsproto==1.2.0
xlrd==2.0.1
xlutils==2.0.0
xlwt==1.3.0
zeroconf==0.47.1
zope.interface==6.1
tmdbv3api==1.9.0
